@font-face {
    font-family: 'Asphaltic-Scratch';
    src: url('./fonts/Asphaltic-Scratch.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1,h2 {
font-family:'Asphaltic-Scratch';
}
h1 {
	font-size: 160px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: black url(./images/allskills_bg.png) center center no-repeat;;

}